<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>BBS</title>
    <link rel="stylesheet" th:href="@{layui/css/layui.css}">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">BBS</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    贤心
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">所有商品</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="javascript:;">列表三</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">解决方案</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">云市场</a></li>
                <li class="layui-nav-item"><a href="">发布商品</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px; text-align: center;"><h1>添加回复</h1>
            <div style="border: 1px solid #e6e6e6;margin-top:5px;padding-top: 20px">
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label">回复内容</label>
                        <div class="layui-input-block">
                            <textarea name="content" placeholder="请输入回复内容" lay-verify="required" required
                                      class="layui-textarea"
                                      style="resize: none"></textarea>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">回复昵称</label>
                        <div class="layui-input-inline">
                            <input type="hidden" name="inv_id" th:value="${reply.inv_id}" required
                                   class="layui-input">
                            <input type="hidden" name="parentid" th:value="${reply.inv_id}" required
                                   class="layui-input">

                            <input type="text" name="username" id="username" th:value="${session.user.username}"
                                   readonly required class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="checkbox" name="choice" id="choice" lay-filter="choice" title="匿名">
                        </div>

                    </div>
                    <div class="layui-form-item">
                        <div style="padding-top: 20px">
                            <button class="layui-btn" lay-submit lay-filter="formAddReply">提交</button>
                            <button type="button" class="layui-btn layui-btn-primary"
                                    onclick="location.replace(document.referrer)">返回
                            </button>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script th:src="@{/layui/layui.js}"></script>
<script type="text/html" id="dateFormat">
    {{ Format(d.createdate,"yyyy-M-d h:m:s") }}
</script>
<script>

    function Format(datetime, fmt) {
        console.log(datetime);
        if (parseInt(datetime) == datetime) {
            if (datetime.length == 10) {
                datetime = parseInt(datetime) * 1000;
            } else if (datetime.length == 13) {
                datetime = parseInt(datetime);
            }
        }
        datetime = new Date(datetime);
        var o = {
            "M+": datetime.getMonth() + 1,                 //月份
            "d+": datetime.getDate(),                    //日
            "h+": datetime.getHours(),                   //小时
            "m+": datetime.getMinutes(),                 //分
            "s+": datetime.getSeconds(),                 //秒
            "q+": Math.floor((datetime.getMonth() + 3) / 3), //季度
            "S": datetime.getMilliseconds()             //毫秒
        };
        if (/(y+)/.test(fmt))
            fmt = fmt.replace(RegExp.$1, (datetime.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt))
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }

    //JavaScript代码区域
    layui.use(['element', 'table', 'laytpl', 'form', 'layer', 'jquery'], function () {
        var element = layui.element, table = layui.table, laytpl = layui.laytpl, form = layui.form, layer = layui.layer,
            $ = layui.$;


        form.on('checkbox(choice)', function (data) {
            console.log(data.elem); //得到checkbox原始DOM对象
            console.log(data.elem.checked); //开关是否开启，true或者false
            console.log(data.value); //开关value值，也可以通过data.elem.value得到
            console.log(data.othis); //得到美化后的DOM对象
            if (data.elem.checked) {
                $("#username").attr("type", "password");
            } else {
                $("#username").attr("type", "text");
            }
        });


        //监听提交
        form.on('submit(formAddReply)', function (data) {
            $.post("/reply/addReply", data.field, function (res) {
                if (res.code === 0) {
                    layer.msg(res.msg, {icon: 1});
                    // location.href="/editReply?inv_id="+data.inv_id;
                } else {
                    layer.msg(res.msg, {icon: 2});
                }
            });
            return false;
        });


    });
</script>


</body>
</html>
