<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}">
    <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
</head>
<body>

<div class="site-nav-bg">
    <div class="site-nav w1200">
        <p class="sn-back-home">
            <i class="layui-icon layui-icon-home"></i>
            <a href="#">首页</a>
        </p>
        <div class="sn-quick-menu">
            <div class="login"><a href="login.html">登录</a></div>
            <div class="sp-cart"><a href="shopcart.html">购物车</a><span>2</span></div>
        </div>
    </div>
</div>

<div class="content content-nav-base commodity-content">

    <div class="commod-cont-wrap">
        <div class="commod-cont w1200 layui-clear">
            <div class="left-nav" style="width:1200px;">
                <div class="title">所有回复</div>
                <div class="list-box" th:each="str,sta:${replyVos}">

                    <dl>
                        <dt><img th:src="@{/image/userImg/default.jpg}" alt="" height="30"
                                 style="border-radius: 100%"><span th:text="${str.users.username}"></span>&nbsp;<span
                                th:text="${str.content}"></span>&nbsp;<span th:text="${str.createdate}"></span>&nbsp;&nbsp;&nbsp;
                            <button id="btn1" class="layui-btn layui-btn-xs btn1" type="button"><input type="hidden" th:value="${str.re_id}" class="hidden1">
                                回复
                            </button>
                        </dt>


                        <dd th:each="ss,sa:${str.getReplyVos()}">
                            <a href="javascript:;"><img th:src="@{/image/userImg/default.jpg}" alt="" height="30"
                                                        style="border-radius: 100%"><span
                                    th:text="${ss.users.username}"></span>&nbsp;回复&nbsp;<span
                                    th:text="${str.users.username}"></span>:<span th:text="${ss.content}"></span></a>&nbsp;<span
                                th:text="${ss.createdate}"></span>&nbsp;&nbsp;&nbsp;
                            <button id="btn2" class="layui-btn layui-btn-xs  btn2" type="button">回复</button>
                        </dd>

                    </dl>

                    <!--   <dl>
                      <dt>奶粉辅食&nbsp;&nbsp;&nbsp;&nbsp;<a>回复</a></dt>
                      <dd><a href="javascript:;"><span>用户名</span><span>|</span>进口奶粉进口奶粉进口奶粉进口奶粉进口奶粉进口奶粉奶粉进口奶粉进口奶粉进口奶粉进口奶粉</a>&nbsp;&nbsp;&nbsp;&nbsp;<a>回复</a></dd>
                      <dd><a href="javascript:;">宝宝辅食进口奶粉进口奶粉进口奶粉进口奶粉进口奶粉进口奶粉进口奶粉进口奶粉进口奶粉</a>&nbsp;&nbsp;&nbsp;&nbsp;<a>回复</a></dd>
                      <dd><a href="javascript:;">营养品</a>&nbsp;&nbsp;&nbsp;&nbsp;<a>回复</a></dd>
                     </dl>-->
                    <!--     <dl>
                          <dt>儿童用品</dt>
                          <dd><a href="javascript:;">纸尿裤</a></dd>
                          <dd><a href="javascript:;">婴儿湿巾</a></dd>
                          <dd><a href="javascript:;">婴儿车</a></dd>
                          <dd><a href="javascript:;">婴儿床</a></dd>
                          <dd><a href="javascript:;">儿童安全座椅</a></dd>
                         </dl>
                         <dl>
                          <dt>儿童早教</dt>
                          <dd><a href="javascript:;">儿童玩具</a></dd>
                          <dd><a href="javascript:;">早教书籍</a></dd>
                          <dd><a href="javascript:;">孕产育儿书</a></dd>
                         </dl>
                         <dl>
                          <dt>儿童服饰</dt>
                          <dd><a href="javascript:;">童装</a></dd>
                          <dd><a href="javascript:;">童鞋</a></dd>
                          <dd><a href="javascript:;">宝宝配饰</a></dd>
                         </dl>
                         <dl>
                          <dt>孕妈专区</dt>
                          <dd><a href="javascript:;">孕妇装</a></dd>
                          <dd><a href="javascript:;">孕妇护肤</a></dd>
                          <dd><a href="javascript:;">孕妇用品</a></dd>
                         </dl>-->
                </div>
            </div>

        </div>
    </div>
</div>

<script>

    layui.config({
        base: '../res/static/js/util/' //你存放新模块的目录，注意，不是layui的模块目录
    }).use(['mm', 'laypage', 'jquery', 'layer'], function () {
        var laypage = layui.laypage, $ = layui.$,
            mm = layui.mm, layer = layui.layer;
        laypage.render({
            elem: 'demo0'
            , count: 100 //数据总数
        });
        $(".btn1").on('click', function () {
            layer.open({
                type: 2,
                area: ['550px', '400px'],
                title: '添加回复'
                , content: ['/testFrame', 'no'],

                 success: function (layero, index) {
                var iframe = window['layui-layer-iframe' + index];//拿到iframe元素
                iframe.re_id = $(".hidden1").value;//向此iframe层方法 传递参数

            }

            });
        })
        $(".btn2").on('click', function () {
            layer.open({
                type: 2,
                area: ['550px', '400px'],
                title: '添加回复'
                , content: ['/testFrame', 'no']
                , success: function (layero, index) {
                    var iframe = window['layui-layer-iframe' + index];//拿到iframe元素
                    iframe.re_id = data.user_id;//向此iframe层方法 传递参数

                }
                /* ,btn: ['确认', '取消']
                 , yes: function (index, layero) {
                     //按钮【按钮一】的回调
                 }
                 , btn2: function (index, layero) {
                     //按钮【按钮二】的回调

                 },
                 btnAlign: 'c'*/

            });
        })
        /*   layui.use(['mm', 'laypage', 'jquery', 'layer'], function () {
               var laypage = layui.laypage, $ = layui.$,
                   mm = layui.mm, layer = layui.layer;

               $("#btn1").on('click',function (res) {
                   layer.msg("123")
               })
               laypage.render({
                   elem: 'demo0'
                   , count: 100 //数据总数
               });
       */

        // 模版引擎导入
        //  var html = demo.innerHTML;
        //  var listCont = document.getElementById('list-cont');
        //  // console.log(layui.router("#/about.html"))
        // mm.request({
        //     url: '../json/commodity.json',
        //     success : function(res){
        //       console.log(res)
        //       listCont.innerHTML = mm.renderHtml(html,res)
        //     },
        //     error: function(res){
        //       console.log(res);
        //     }
        //   })

        $('.sort a').on('click', function () {
            $(this).addClass('active').siblings().removeClass('active');
        })
        $('.list-box dt').on('click', function () {
            if ($(this).attr('off')) {
                $(this).removeClass('active').siblings('dd').show()
                $(this).attr('off', '')
            } else {
                $(this).addClass('active').siblings('dd').hide()
                $(this).attr('off', true)
            }
        })

    });
</script>


</body>
</html>