<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{layui/css/layui.css}">
</head>
<body>
<div style="padding: 15px; text-align: center;">
    <div style="border: 1px solid #e6e6e6;margin-top:5px;padding-top: 20px">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">回复内容</label>
                <div class="layui-input-block">
                            <textarea name="content" placeholder="请输入回复内容" lay-verify="required" required
                                      class="layui-textarea"
                                      style="resize: none"></textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">回复昵称</label>
                <div class="layui-input-inline">
                    <input type="hidden" name="inv_id" required
                           class="layui-input">
                    <input type="hidden" name="parentid" required
                           class="layui-input">

                    <input type="text" name="username" id="username"
                           required class="layui-input">
                </div>
                <div class="layui-input-inline">
                    <input type="checkbox" name="choice" id="choice" lay-filter="choice" title="匿名">
                </div>

            </div>
            <div class="layui-form-item">
                <div style="padding-top: 20px">
                    <button class="layui-btn" lay-submit lay-filter="addReply">提交</button>
                    <button type="button" class="layui-btn layui-btn-primary"
                            onclick="location.replace(document.referrer)">返回
                    </button>
                </div>
            </div>

        </form>
    </div>

</div>
<script th:src="@{/layui/layui.js}"></script>
<script>

    var re_id;
    //获取父布局的传值
    function child(obj) {
        console.log(obj);
    }
    function Format(datetime, fmt) {
        console.log(datetime);
        if (parseInt(datetime) == datetime) {
            if (datetime.length == 10) {
                datetime = parseInt(datetime) * 1000;
            } else if (datetime.length == 13) {
                datetime = parseInt(datetime);
            }
        }
        datetime = new Date(datetime);
        var o = {
            "M+": datetime.getMonth() + 1,                 //月份
            "d+": datetime.getDate(),                    //日
            "h+": datetime.getHours(),                   //小时
            "m+": datetime.getMinutes(),                 //分
            "s+": datetime.getSeconds(),                 //秒
            "q+": Math.floor((datetime.getMonth() + 3) / 3), //季度
            "S": datetime.getMilliseconds()             //毫秒
        };
        if (/(y+)/.test(fmt))
            fmt = fmt.replace(RegExp.$1, (datetime.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt))
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }

    //JavaScript代码区域
    layui.use(['element', 'table', 'laytpl', 'form', 'layer', 'jquery'], function () {
        var element = layui.element, table = layui.table, laytpl = layui.laytpl, form = layui.form, layer = layui.layer,
            $ = layui.$;


        form.on('checkbox(choice)', function (data) {
            console.log(data.elem); //得到checkbox原始DOM对象
            console.log(data.elem.checked); //开关是否开启，true或者false
            console.log(data.value); //开关value值，也可以通过data.elem.value得到
            console.log(data.othis); //得到美化后的DOM对象
            if (data.elem.checked) {
                $("#username").attr("type", "password");
            } else {
                $("#username").attr("type", "text");
            }
        });


        //监听提交
        form.on('submit(addReply)', function (data) {
            var pid=parent.$('.hidden1').html();
            var pid1=parent.$('.hidden1').value;
            console.log(pid)
            console.log(pid1)
            $.post("/reply/addReply", {parentid: re_id}, function (res) {
                if (res.code === 0) {
                    layer.msg(res.msg, {icon: 1});
                    // location.href="/editReply?inv_id="+data.inv_id;
                } else {
                    layer.msg(res.msg, {icon: 2});
                }
            });
            return false;
        });


    });
</script>
</body>
</html>