<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}">
    <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
</head>
<body>

<div class="site-nav-bg">
    <div class="site-nav w1200">
        <p class="sn-back-home">
            <i class="layui-icon layui-icon-home"></i>
            <a href="#">首页</a>
        </p>
        <div class="sn-quick-menu">
            <div class="login"><a href="login.html">登录</a></div>
            <div class="sp-cart"><a href="shopcart.html">购物车</a><span>2</span></div>
        </div>
    </div>
</div>

<div class="content content-nav-base commodity-content">

    <div class="commod-cont-wrap">
        <div class="commod-cont w1200 layui-clear">
            <div class="left-nav" style="width:1200px;">
                <div class="title">所有回复</div>
                <div class="list-box" th:each="str,sta:${replyVos}">

                    <dl>
                        <dt>
                            <img th:src="@{'/image/userImg/'+${str.users.img}}" alt="" height="30"
                                 style="border-radius: 100%"><span th:text="${str.users.username}"></span>&nbsp;<span
                                th:text="${str.content}"></span>&nbsp;<span th:text="${str.createdate}"></span>&nbsp;&nbsp;&nbsp;
                            <button id="btn1" class="layui-btn layui-btn-xs btn1" type="button">
                                回复
                            </button>
                            <form class="layui-form" id="" action="" style="display: none">
                                <div class="layui-form-item layui-form-text">
                                    <div class="layui-input-inline">
                                        <textarea name="content" placeholder="请输入内容" class="layui-textarea"></textarea>
                                        <input type="hidden" name="parentid" th:value="${str.re_id}">
                                        <input type="hidden" name="inv_id" th:value="${str.inv_id}">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class=" layui-input-block">
                                        <button class="layui-btn layui-btn-xs publish" type="button"
                                                lay-filter="formDemoAdd">
                                            发表
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </dt>


                        <dd th:each="ss,sa:${str.getReplyVos()}">
                            <a href="javascript:;"><img th:src="@{'/image/userImg/'+${ss.users.img}}" alt="" height="30"
                                                        style="border-radius: 100%"><span
                                    th:text="${ss.users.username}"></span>&nbsp;回复&nbsp;<span
                                    th:text="${str.users.username}"></span>:<span th:text="${ss.content}"></span></a>&nbsp;<span
                                th:text="${ss.createdate}"></span>&nbsp;&nbsp;&nbsp;
                            <button id="btn2" class="layui-btn layui-btn-xs  btn1" type="button">回复</button>
                            <form class="layui-form" action="" style="display: none">
                                <div class="layui-form-item layui-form-text">
                                    <div class="layui-input-inline">
                                        <textarea name="content" placeholder="请输入内容" class="layui-textarea"></textarea>
                                        <input type="hidden" name="parentid" th:value="${ss.re_id}">
                                        <input type="hidden" name="inv_id" th:value="${ss.inv_id}">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class=" layui-input-block">
                                        <button class="layui-btn layui-btn-xs publish" type="button"
                                                lay-filter="formDemoAdd">
                                            发表
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </dd>

                    </dl>

                </div>
            </div>

        </div>
    </div>
</div>

<script>


    layui.config({
        base: '../static/js/util/' //你存放新模块的目录，注意，不是layui的模块目录
    }).use(['mm', 'laypage', 'jquery', 'layer', 'form'], function () {
        var laypage = layui.laypage, $ = layui.$,
            mm = layui.mm, layer = layui.layer, form = layui.form;
        laypage.render({
            elem: 'demo0'
            , count: 100 //数据总数
        });
        // $(".btn1").on('click', function () {
        //     layer.open({
        //         type: 2,
        //         area: ['550px', '400px'],
        //         title: '添加回复'
        //         , content: ['/testFrame', 'no'],
        //
        //         success: function (layero, index) {
        //             var iframe = window['layui-layer-iframe' + index];//拿到iframe元素
        //             console.log(index)
        //             var parentid = $(".hidden1").value;
        //             iframe.re_id = parentid;//向此iframe层方法 传递参数
        //             console.log(parentid);
        //         }
        //     });
        // })
        $('.btn1').each(function (index, element) {
            $(this).click(function () {
                if ($(this).next().is(":hidden")) {//判断是否显示 显示：true 隐藏：false
                    $('form').hide();
                    $(this).next().show();
                } else {
                    $(this).next().hide();
                }
            })
        });

        $('.publish').each(function (index, element) {
            $(this).click(function () {
                var form = $(this).parent().parent().parent();
                console.log(form.serialize());
                $.post("/reply/addReply", form.serialize(), function (res) {
                    if (res.code === 0) {
                        layer.msg("发表成功")

                    } else {
                        layer.msg("发表失败")

                    }
                });
                form.hide();
            })
        });


        /*   var parentid = $(".hidden2").value;
           $(".btn2").on('click', function () {
               layer.open({
                   type: 2,
                   area: ['550px', '400px'],
                   title: '添加回复'
                   , content: ['/testFrame', 'no']
                   , success: function (layero, index) {

                       var iframe = window['layui-layer-iframe' + index];//拿到iframe元素
                       iframe.child($(".hidden2").value);
                       // iframe.child("123456");

                       iframe.re_id = parentid;//向此iframe层方法 传递参数

                   }


               });
           })*/


    });
</script>


</body>
</html>