<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{layui/css/layui.css}">
</head>
<body>
<ul id="demo"></ul>
</body>
<script th:src="@{/layui/layui.js}"></script>
<script>
    layui.use(['element', 'table', 'laytpl', 'form', 'layer', 'jquery','tree'], function () {
        layui.tree({
            elem: '#demo' //传入元素选择器
            , nodes: [ //节点
                {
                    name: '常用文件夹'
                    ,id: 1
                    ,alias: 'changyong'
                    ,children: [
                        {
                            name: '所有未读'
                            ,id: 11
                            ,href: 'http://www.layui.com/'
                            ,alias: 'weidu'
                        }, {
                            name: '置顶邮件'
                            ,id: 12
                        }, {
                            name: '标签邮件'
                            ,id: 13
                        }
                    ]
                }, {
                    name: '我的邮箱'
                    ,id: 2
                    ,spread: true
                    ,children: [
                        {
                            name: 'QQ邮箱'
                            ,id: 21
                            ,spread: true
                            ,children: [
                                {
                                    name: '收件箱'
                                    ,id: 211
                                    ,children: [
                                        {
                                            name: '所有未读'
                                            ,id: 2111
                                        }, {
                                            name: '置顶邮件'
                                            ,id: 2112
                                        }, {
                                            name: '标签邮件'
                                            ,id: 2113
                                        }
                                    ]
                                }, {
                                    name: '已发出的邮件'
                                    ,id: 212
                                }, {
                                    name: '垃圾邮件'
                                    ,id: 213
                                }
                            ]
                        }, {
                            name: '阿里云邮'
                            ,id: 22
                            ,children: [
                                {
                                    name: '收件箱'
                                    ,id: 221
                                }, {
                                    name: '已发出的邮件'
                                    ,id: 222
                                }, {
                                    name: '垃圾邮件'
                                    ,id: 223
                                }
                            ]
                        }
                    ]
                }
            ]
        });
    });
</script>
</html>